element.style {
    padding-top: 135px;
    padding-bottom: 135px;
    background-color: #f6f9f8;
}
.t-rec_pb_135 {
    padding-bottom: 135px;
}
.t-rec_pt_135 {
    padding-top: 135px;
}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, b, u, i, center, table, tr, th, td, video {
    margin: 0;
    padding: 0;
    border: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
}
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}